.*.json
*json
*.so
*.o
*.pyc
*.swp
*.tif
*.bak
res
tests/**/
test.py
tools/
tmp*
_tmp*
*log
data/

filters/src/ufo-ring-coordinates.h
filters/src/ufo-ringwriter-task.c
filters/src/ufo-ringwriter-task.h
filters/src/ufo-test-filter-task.c
filters/src/ufo-test-filter-task.c.new
filters/src/ufo-test-filter-task.c_bckp_writestoimage
filters/src/ufo-test-filter-task.h
filters/src/ufo-combine-test-task.bak.c
filters/src/ufo-combine-test-task.new.c
filters/src/ufo-contrast-task.c
Notes.md
doc

piv-test*py
