.*.json
filters/build
filters/.build
*.so
*.o
*.pyc
*.swp
*.tif
res
tests/**/
test.py
tools/
tmp*
_tmp*


filters/src/ufo-ring-coordinates.h
filters/src/ufo-ringwriter-task.c
filters/src/ufo-ringwriter-task.h
filters/src/ufo-test-filter-task.c
filters/src/ufo-test-filter-task.c.new
filters/src/ufo-test-filter-task.c_bckp_writestoimage
filters/src/ufo-test-filter-task.h
`
